<svg width="128" height="128" viewBox="0 0 128 128" fill="none" xmlns="http://www.w3.org/2000/svg">
  <defs>
    <g id="hexagon" class="hexagon">
      <path d="M8 0L14.9282 4V12L8 16L1.0718 12V4L8 0Z" />
    </g>
    <g id="side-3">
      <use href="#hexagon" x="24" y="0" />
      <use href="#hexagon" x="40" y="0" />
      <use href="#hexagon" x="56" y="0" />
      <use href="#hexagon" x="72" y="0" />

      <use href="#hexagon" x="16" y="14" />
      <use href="#hexagon" x="80" y="14" />

      <use href="#hexagon" x="8" y="28" />
      <use href="#hexagon" x="88" y="28" />


      <use href="#hexagon" x="0" y="42" />
      <use href="#hexagon" x="96" y="42" />


      <use href="#hexagon" x="8" y="56" />
      <use href="#hexagon" x="88" y="56" />

      <use href="#hexagon" x="16" y="70" />
      <use href="#hexagon" x="80" y="70" />

      <use href="#hexagon" x="24" y="84" />
      <use href="#hexagon" x="40" y="84" />
      <use href="#hexagon" x="56" y="84" />
      <use href="#hexagon" x="72" y="84" />
    </g>
    <g id="side-2">
      <use href="#hexagon" x="16" y="0" />
      <use href="#hexagon" x="32" y="0" />
      <use href="#hexagon" x="48" y="0" />

      <use href="#hexagon" x="8" y="14" />
      <use href="#hexagon" x="56" y="14" />

      <use href="#hexagon" x="0" y="28" />
      <use href="#hexagon" x="64" y="28" />

      <use href="#hexagon" x="8" y="42" />
      <use href="#hexagon" x="56" y="42" />

      <use href="#hexagon" x="16" y="56" />
      <use href="#hexagon" x="32" y="56" />
      <use href="#hexagon" x="48" y="56" />

    </g>
    <g id="side-1">
      <use href="#hexagon" x="8" y="0" />
      <use href="#hexagon" x="24" y="0" />

      <use href="#hexagon" x="8" y="28" />
      <use href="#hexagon" x="24" y="28" />

      <use href="#hexagon" x="0" y="14" />
      <use href="#hexagon" x="32" y="14" />
    </g>
  </defs>
  <!-- Side 3 -->
  <!-- <use href="#side-3" class="side-3" x="9.07" y="14"/> -->
  <use href="#hexagon" class="side-3" x="33" y="14" style="transform-origin: 41px 22px" />
  <use href="#hexagon" class="side-3" x="49" y="14" style="transform-origin: 57px 22px" />
  <use href="#hexagon" class="side-3" x="65" y="14" style="transform-origin: 73px 22px" />
  <use href="#hexagon" class="side-3" x="81" y="14" style="transform-origin: 89px 22px" />

  <use href="#hexagon" class="side-3" x="25" y="28" style="transform-origin: 33px 36px" />
  <use href="#hexagon" class="side-3" x="89" y="28" style="transform-origin: 97px 36px" />

  <use href="#hexagon" class="side-3" x="17" y="42" style="transform-origin: 25px 50px" />
  <use href="#hexagon" class="side-3" x="97" y="42" style="transform-origin: 105px 50px" />

  <use href="#hexagon" class="side-3" x="9" y="56" style="transform-origin: 17px 64px" />
  <use href="#hexagon" class="side-3" x="105" y="56" style="transform-origin: 113px 64px" />

  <use href="#hexagon" class="side-3" x="17" y="70" style="transform-origin: 25px 78px" />
  <use href="#hexagon" class="side-3" x="97" y="70" style="transform-origin: 105px 78px" />

  <use href="#hexagon" class="side-3" x="25" y="84" style="transform-origin: 33px 92px" />
  <use href="#hexagon" class="side-3" x="89" y="84" style="transform-origin: 97px 92px" />

  <use href="#hexagon" class="side-3" x="33" y="98" style="transform-origin: 41px 106px" />
  <use href="#hexagon" class="side-3" x="49" y="98" style="transform-origin: 57px 106px" />
  <use href="#hexagon" class="side-3" x="65" y="98" style="transform-origin: 73px 106px" />
  <use href="#hexagon" class="side-3" x="81" y="98" style="transform-origin: 89px 106px" />
  <!-- Side 2 -->
  <!-- <use href="#side-2" class="side-2" x="25.07" y="28"/> -->
  <use href="#hexagon" class="side-2" x="41" y="28" style="transform-origin: 49px 36px" />
  <use href="#hexagon" class="side-2" x="57" y="28" style="transform-origin: 65px 36px" />
  <use href="#hexagon" class="side-2" x="73" y="28" style="transform-origin: 81px 36px" />

  <use href="#hexagon" class="side-2" x="33" y="42" style="transform-origin: 41px 50px" />
  <use href="#hexagon" class="side-2" x="81" y="42" style="transform-origin: 89px 42px" />

  <use href="#hexagon" class="side-2" x="25" y="56" style="transform-origin: 33px 64px" />
  <use href="#hexagon" class="side-2" x="89" y="56" style="transform-origin: 97px 64px" />

  <use href="#hexagon" class="side-2" x="33" y="70" style="transform-origin: 41px 78px" />
  <use href="#hexagon" class="side-2" x="81" y="70" style="transform-origin: 89px 78px" />

  <use href="#hexagon" class="side-2" x="41" y="84" style="transform-origin: 49px 92px" />
  <use href="#hexagon" class="side-2" x="57" y="84" style="transform-origin: 65px 92px" />
  <use href="#hexagon" class="side-2" x="73" y="84" style="transform-origin: 81px 92px" />
  <!-- Side 1 -->
  <!-- <use href="#side-1" class="side-1" x="41.07" y="42" style="transform-origin: 50% 50%"/> -->
  <use href="#hexagon" class="side-1" x="49" y="42" style="transform-origin: 57px 50px" />
  <use href="#hexagon" class="side-1" x="65" y="42" style="transform-origin: 73px 50px" />

  <use href="#hexagon" class="side-1" x="49" y="70" style="transform-origin: 57px 78px" />
  <use href="#hexagon" class="side-1" x="65" y="70" style="transform-origin: 73px 78px" />

  <use href="#hexagon" class="side-1" x="41" y="56" style="transform-origin: 49px 64px" />
  <use href="#hexagon" class="side-1" x="73" y="56" style="transform-origin: 81px 64px" />
  <!-- Center -->
  <use href="#hexagon" class="center" x="57" y="56" style="transform-origin: 65px 64px" />
</svg>